nav {
    background-color: rgb(221, 65, 65); 
    overflow: hidden;
    display: flex;
    justify-content: center;
   height: 60px;
  
  }
  
  nav ul {
    list-style-type: none; 
    margin: 10; 
    padding: 0; 
    display: flex;
  
  
  }
  
  nav li {
    float: left; 
  }
  
  nav a {
    color: #f2f2f2; 
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a:hover {
    background-color: #ddd; 
    color: black; 
  }
  
  